@charset "UTF-8"

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


:root {
    --fonte1: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    --fonte2:  'Lobster', cursive;
    --fonte3: 'Anton', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;

}

html, body {
    min-height: 100vh;
    background-color: bisque;
    font-family: var(--fonte1);
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps; 
    font-family: var(--fonte3);
    font-size: 5em;
    font-size: 5vw;
}

header > p {
    padding-bottom: 50px;
    font-family: var(--fonte2);
    
}

header a, footer a {
    color: red;
    text-decoration: none;
    font-weight: bolder;
}

 header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    
    padding-left: 15px;
    line-height: 1.5em;
    padding-top: 10vh;
    padding-bottom: 10vh;
    font-size: 3vw;
}

section p {
    padding: 2em;
    font-family: var(--fonte2);
}

section.normal {
    background-color: rgb(18, 230, 212);
    color: black;
}

section.imagem {
    background-color: black;
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.664);
    background-attachment: fixed;
}

section.imagem > p {
    display: inline-block;
    padding: 10px;
    background-color: rgba(205, 208, 255, 0.185);
    text-shadow: 1px 1px 0px black;
    
    
}

section#img01 {
    background-image: url(../imagens/background001.jpg);
    background-position: center right;
    background-size: cover;
}

section#img02 {
    background-image: url(../imagens/background002.jpg)
    
    
}

footer {
    background-color: blueviolet;
    text-align: center;
    padding: 10px;
}